@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.smooth-scroll {
		scroll-behavior: smooth;
	}
}

@font-face {
	font-family: "Vazir";
	src: url("./assets/fonts/Vazir.eot"), url("./assets/fonts/Vazir.ttf"),
		url("./assets/fonts/Vazir.woff"), url("./assets/fonts/Vazir.woff2");
}

body {
	font-family: "Vazir";
}

p {
	transition: all 1s;
}

::selection {
	background-color: hsl(var(--twc-primary) / 0.5);
	color: #333;
}
